<!--

Purpose: This include file shows how to add event handlers 

To enable this, rename this file so that it has a ".config" extension and 
replace the "type" and "method" attributes below with your own values

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:addversion">
                <patch:attribute name="type">SiteLanguageBlocker.Commands.AddVersion,SiteLanguageBlocker</patch:attribute>
            </command>
        </commands>
        <events>
            <event name="item:versionAdding" >
                <handler type="SiteLanguageBlocker.Events.StopCreationWrongLanguage,SiteLanguageBlocker" method="OnVersionRemoved" />
            </event>         
        </events>
        <pipelines>
            <httpRequestBegin>                
                <processor type="Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel" >
                    <patch:attribute name="type">SiteLanguageBlocker.Pipelines.ForceLanguageToSite,SiteLanguageBlocker</patch:attribute>
                </processor>
            </httpRequestBegin>
            
        </pipelines>
    </sitecore>
</configuration>
